//
// layout

.hscr-comments-reactions {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #fff;
}

  .hscr-comments-reactions__results {
    font-size: 12px;
  }

  .hscr-comments-reactions__options {
    position: absolute;
    top: -34px;
    right: -30px;
    z-index: 1000;
    border: 1px solid #dddfe2;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(27, 31, 35, .10);
  }

  .hscr-comments-reactions__action {
    margin-left: auto;
  }
